body{
  background: lightblue;
}

.container{
  background: white;
  display: flex;
  margin: auto 10px;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
}

 .header img{
  display: block;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
 }

 .form-container{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.form-container label{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.25rem;
  margin-right: 5px;
  margin-left: 10px;
} 

.form-container input{
  padding: 0 0.9375rem;
  min-height: 1.6875rem;
  min-width: 12.8125rem;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #33475b;
  background-color: #f5f8fa;
  border: 0.0625rem solid #cbd6e2;
  border-radius: 0.25rem;
}

.input-error{
  text-align: center;
  color: red;  
}


.button-primary{
  background: #38a3dc;
  border-color: #38a3dc;
  color: #ffffff;
  margin-left: 15px;
  border-radius: 50px;
  font-size: 0.8rem;
  padding: 0px 12px;
  font-weight: 600;
  height: 1.6875rem;
}

.button-secondary{
  background: orange;
  border-color: orange;
  color: #ffffff;
  margin-left: 15px;
  border-radius: 50px;
  font-size: 0.8rem;
  padding: 0px 12px;
  font-weight: 600;
  height: 1.6875rem;
}

.custom-table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.custom-table td, .custom-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.custom-table tr:nth-child(even){background-color: #f2f2f2;}

.custom-table tr:hover {background-color: #ddd;}

.custom-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #38a3dc;
  color: white;
  text-align: center;
}

